.footer {
    background-image: url(/images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--color-primary-dark);
    padding: 32px 0;
    position: relative;
}

.footer::before,
.footer::after {
    content: "";
    position: absolute;
    bottom: 0;
}

.footer::before {
    background-image: url(/images/decor-bread-small.png);
    left: 0;
    width: 180px;
    height: 120px;
    background-repeat: no-repeat;
}

.footer::after {
    background-image: url(/images/decor-bread-large.png);
    right: 0;
    width: 380px;
    height: 180px;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-list,
.footer-logo {
    flex-grow: 1;
}

.footer-socials {
    display: flex;
    gap: 22px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-dark);
}

.address-copyright {
    color: var(--color-copyright);
    font-size: 14px;
}

.address-icon {
    fill: var(--color-primary-light);
}