.traditions-section {
    padding-top: 96px;

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
    }

    &__content {
        max-width: 710px;
    }

    &__title {
        margin-bottom: 42px;

        @media screen and (max-width:$bp-tablet) {
            font-size: 32px;
            line-height: 1;
            margin-bottom: 24px;
        }
    }

    &__text {
        font-size: 18px;

        &--limited {
            max-width: 335px;
        }

        @media screen and (max-width:$bp-tablet) {
            font-weight: 300;
            font-size: 16px;
            max-width: 400px;
        }
    }

    &__img {
        border-top-right-radius: 400px;
        border-top-left-radius: 400px;

        @media screen and (max-width:$bp-tablet) {
            display: none;
        }
    }

    @media screen and (max-width:$bp-tablet) {
        padding-top: 0px;
    }
}